<div class="shell client-shell">
  <header class="top">
    <a class="brand" routerLink="/cliente">
      <img src="/nox-logo.png" alt="NOX Fotografia" />
      <span>&Aacute;rea do cliente</span>
    </a>
    <div class="top__right">
      @if (auth.user$ | async; as user) {
        <span>Ol&aacute;, {{ user.name }}</span>
      }
      <a class="top__link" routerLink="/">Site</a>
      <button class="btn btn-outline" type="button" (click)="logout()">Sair</button>
    </div>
  </header>
  <main class="content container">
    <router-outlet />
  </main>
</div>
